@mixin root-defs {
	--page-max-width: 80rem;
	--feed-max-width: 50rem;
	--page-gutter: 1.33rem;

	--font-size-text: 1rem;
}

@mixin common-base {
	--default-corner-radius: 24px;

	--gradient-color-1: #4a044e;
	--gradient-color-2: #3b0764;
	--gradient-color-3: #1e1b4b;
	--gradient-color-4: #020617;
	--gradient-color-accent: #a03b1d;
	--gradient-color-accent-variant: #700f48;
}

@mixin light-theme-base {
	@include common-base;

	// Primary
	--color-primary: #435e91;
	--color-on-primary: #ffffff;
	--color-primary-container: #d8e2ff;
	--color-on-primary-container: #001a41;
	// Secondary
	--color-secondary: #565e71;
	--color-on-secondary: #ffffff;
	--color-secondary-container: #dbe2f9;
	--color-on-secondary-container: #131b2c;
	// Tertiary / Accent
	--color-tertiary: #635690;
	--color-on-tertiary: #ffffff;
	--color-tertiary-container: #e7deff;
	--color-on-tertiary-container: #1e1048;
	// Error
	--color-error: #ba1a1a;
	--color-error-variant: #FF3A3A;
	--color-on-error: #ffffff;
	--color-error-container: #ffdad6;
	--color-on-error-container: #410002;
	// Surfaces
	--color-surface-dim: #d9d9e0;
	--color-surface: #f9f9ff;
	--color-surface-bright: #f9f9ff;
	--color-surface-container-lowest: #ffffff;
	--color-surface-container-low: #f3f3fa;
	--color-surface-container: #ededf4;
	--color-surface-container-high: #e8e7ee;
	--color-surface-container-highest: #e2e2e9;
	--color-on-surface: #1a1b20;
	--color-on-surface-variant: #44474f;
	// Inverse
	--color-inverse-surface: #2f3036;
	--color-inverse-on-surface: #f0f0f7;
	--color-inverse-primary: #adc7ff;
	// Outline
	--color-outline: #74777f;
	--color-outline-variant: #c4c6d0;
	// Background color when hovering over some elements
	--color-hover-background: #00000026;
	--color-hover-post: #C8C3CDB3;

	--gradient-color-1: #8AECF7;
	--gradient-color-2: #FBCBCA;
	--gradient-color-3: #E4F8FB;
	--gradient-color-4: #8AECF7;
	--gradient-color-accent: #9199F2;
	--gradient-color-accent-variant: #CFCBF4;

	// Shadows
	// Surface shadow uses background color with lightness set to 60%
	--shadow-surface:	0 1px 1px hsla(278deg, 12%, 60%, 0.04),
						0 2px 2px hsla(278deg, 12%, 60%, 0.06),
						0 4px 4px hsla(278deg, 12%, 60%, 0.08);
	
	--shadow-surface-hover:	0 1px 1px hsla(278deg, 12%, 60%, 0.16),
							0 2px 2px hsla(278deg, 12%, 60%, 0.18),
							0 4px 4px hsla(278deg, 12%, 60%, 0.20);

}

@mixin dark-theme-base {
	@include common-base;
	
	// Primary
	--color-primary: #adc7ff;
	--color-on-primary: #0f2f60;
	--color-primary-container: #2a4678;
	--color-on-primary-container: #d8e2ff;
	// Secondary
	--color-secondary: #bfc6dc;
	--color-on-secondary: #283041;
	--color-secondary-container: #3f4759;
	--color-on-secondary-container: #dbe2f9;
	// Tertiary / Accent
	--color-tertiary: #cdbdff;
	--color-on-tertiary: #34275e;
	--color-tertiary-container: #4b3e76;
	--color-on-tertiary-container: #e7deff;
	// Error
	--color-error: #ffb4ab;
	--color-error-variant: #ff5757;
	--color-on-error: #690005;
	--color-error-container: #93000a;
	--color-on-error-container: #ffdad6;
	// Surfaces
	--color-surface-dim: #111318;
	--color-surface: #111318;
	--color-surface-bright: #37393e;
	--color-surface-container-lowest: #0c0e13;
	--color-surface-container-low: #1a1b20;
	--color-surface-container: #1e1f25;
	--color-surface-container-high: #282a2f;
	--color-surface-container-highest: #33353a;
	--color-on-surface: #e2e2e9;
	--color-on-surface-variant: #c4c6d0;
	// Inverse
	--color-inverse-surface: #e2e2e9;
	--color-inverse-on-surface: #2f3036;
	--color-inverse-primary: #435e91;
	// Outline
	--color-outline: #8e9099;
	--color-outline-variant: #44474f;
	// Background color when hovering over some elements
	--color-hover-background: #FFFFFF26;
	--color-hover-post: #282D23B3;

	--gradient-color-1: #4a044e;
	--gradient-color-2: #3b0764;
	--gradient-color-3: #1e1b4b;
	--gradient-color-4: #020617;
	--gradient-color-accent: #a03b1d;
	--gradient-color-accent-variant: #700f48;

	// Shadows
	// Surface shadow uses background color with lightness set to 30%
	--shadow-surface:	0 1px 1px hsla(90deg, 14%, 30%, 0.04),
						0 2px 2px hsla(90deg, 14%, 30%, 0.06),
						0 4px 4px hsla(90deg, 14%, 30%, 0.08);
	
	--shadow-surface-hover:	0 1px 1px hsla(90deg, 14%, 30%, 0.16),
							0 2px 2px hsla(90deg, 14%, 30%, 0.18),
							0 4px 4px hsla(90deg, 14%, 30%, 0.20);
}

// Note: 'on' colors are usually text, but can be symbols or other things as well.
// Surfaces are large elements that have their own background, or surface, color. Surfaces are also meant to be neutral.
// Uses https://m3.material.io/theme-builder#/custom

@mixin light-theme {
	@include light-theme-base;

	.theme-symbol {
		.moon {
			display: inline-block;
			color: var(--color-on-surface-variant);
		}

		.moon-hovered {
			display: none;
		}

		.sun {
			display: none;
		}

		.sun-hovered {
			display: none;
		}
	}

	.theme-toggle:hover {
		.moon {
			display: none;
		}

		.moon-hovered {
			display: inline-block;
			color: var(--color-on-surface-variant);
		}
	}

	.inverse-theme {
		@include dark-theme-base;
	}
}

@mixin dark-theme {
	@include dark-theme-base;

	.theme-symbol {
		.moon {
			display: none;
		}

		.moon-hovered {
			display: none;
		}

		.sun {
			display: inline-block;
			color: var(--color-on-surface-variant);
		}

		.sun-hovered {
			display: none;
		}
	}

	.theme-toggle:hover {
		.sun {
			display: none;
		}

		.sun-hovered {
			display: inline-block;
			color: var(--color-on-surface-variant);
		}
	}

	.inverse-theme {
		@include light-theme-base;
	}
}

:root { // Base Light Theme as the default
	@include light-theme-base;
}

@media (prefers-color-scheme: dark) {
	:root { // Base Dark Theme as the default
		@include dark-theme-base;
	}
}

html[data-theme='light'] {
	@include light-theme;
}

html[data-theme='dark'] {
	@include dark-theme;
}