---
import BaseLayout from '../layouts/BaseLayout.astro';

import SimpleCard from '../components/SimpleCard.astro';
import PersonalCard from '../components/PersonalCard.astro';
---

<BaseLayout title="Aaron's Website & Blog" description="The portfolio and personal blog of Aaron Yoder.">
	<div class="page-content wrapper">
		<div class="card-grid">
			<div class="personal-card">
				<PersonalCard backgroundColor='hsla(0, 0%, 9%, 0.35)' foregroundColor='var(--color-on-surface)' outlineColor='rgba(48, 48, 48, 0.75)'></PersonalCard>
			</div>
			<div class="info-card">
				<SimpleCard backgroundColor='hsla(0, 0%, 9%, 0.35)' foregroundColor='var(--color-on-surface)' outlineColor='rgba(48, 48, 48, 0.75)' title="Who am I?">
					<div slot="content">
						<p>
							I'm a recent graduate from The Ohio State University with a Bachelor of Science degree in Mathematics. I enjoy making things, helping others, and solving interesting problems.
						</p>
						<p>
							When I'm not coding or creating things, I enjoy photography, astronomy, and cooking. I also love listening to music; my favorite artist is <a href="https://en.wikipedia.org/wiki/Chvrches">CHVRCHES</a>, though <a href="https://en.wikipedia.org/wiki/Metric_(band)">Metric</a> is up there as well. I love cats, and have one of my own named Soames. I also enjoy traveling, history, politics, museums, and manual coffee brewing.
						</p>
						<p>
							On this site, you'll find my <a href="/projects">portfolio</a>, as well as various ramblings in the form of a personal blog. If you're interested in seeing more of what I post, check out my socials.
						</p>
					</div>
				</SimpleCard>
			</div>
		</div>
	</div>
</BaseLayout>

<style lang="scss">

	.card-grid {
		display: flex;
		flex-direction: column;
		
		gap: 1rem;
		justify-content: center;
		margin-top: 1rem;
	}

	@media (min-width: 768px) {
		.card-grid {
			display: grid;
			grid-template-columns: repeat(8, minmax(0, 1fr));
		}

		.personal-card {
			grid-row: span 3/span 3;
			grid-column: span 3/span 3;
		}

		.info-card {
			grid-row: span 2/span 2;
			grid-column: span 5/span 5;
		}
	}
	
	p {
		font-size: 1rem;
		margin-top: 0.5rem;
		margin-bottom: 0;
	}

	h1 {
		text-align: center;
		margin: auto;
  		width: 50%;
		font-size: 2.8rem;
		font-weight: 900;
		line-height: 1.1;
	}

	.content-grid {
		display: grid;
		grid-template-columns: repeat(8, minmax(0, 1fr));
		gap: 1rem;
		justify-content: center;
		margin-top: 1rem;
	}
</style>