---
import BaseLayout from '../layouts/BaseLayout.astro';

import Card from '../components/Card.astro';
---

<BaseLayout title="Aaron's Website & Blog" description="The portfolio and personal blog of Aaron Yoder.">
	<div class="page-content wrapper">
		<Card backgroundColor='hsla(0, 0%, 9%, 0.35)' foregroundColor='var(--color-on-surface)' outlineColor='rgba(48, 48, 48, 0.75)' title="Who am I?">
			<p>
				I'm a recent graduate from The Ohio State University with a Bachelor of Science degree in Mathematics. I enjoy making things, helping others, and solving interesting problems.
			</p>
			<p>
				When I'm not coding or creating things, I enjoy photography, astronomy, and cooking. I love listening to music as well; my favorite artist is CHVRCHES, though Metric is a close second.
			</p>
		</Card>
	</div>
</BaseLayout>

<style lang="scss">

	p {
		font-size: 1rem;
		margin-top: 0.5rem;
		margin-bottom: 0;
	}

	h1 {
		text-align: center;
		margin: auto;
  		width: 50%;
		font-size: 2.8rem;
		font-weight: 900;
		line-height: 1.1;
	}

	.content-grid {
		display: grid;
		grid-template-columns: repeat(8, minmax(0, 1fr));
		gap: 1rem;
		justify-content: center;
		margin-top: 1rem;
	}
</style>