---
import Nav from './Nav.astro';

import ThemeToggle from '../../components/ThemeToggle.astro';
---
<header>
	<div class="wrapper">
		<div class="inner">
			<Nav/>
			<ThemeToggle />
		</div>
	</div>
</header>

<style lang="scss">
header {
  font-size: 1.33rem;

  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

}
</style>