---
const navItems = [
	{ href: '/', label: 'Home' },
	{ href: '/projects', label: 'Projects' },
	// { href: '/blog', label: 'Blog' }, TODO: Enable once blog is finished
	{ href: '/uses', label: '/uses' }
];
---
<nav aria-label="Primary">
	<ul role='list'>
		{navItems.map((item) =>  (
			<li aria-current={(Astro.url.pathname.substring(0, Astro.url.pathname.lastIndexOf('.')) || Astro.url.pathname) === item.href ? "page" : undefined}>
				<a href={item.href} aria-current={(Astro.url.pathname.substring(0, Astro.url.pathname.lastIndexOf('.')) || Astro.url.pathname) === item.href ? "page" : undefined}>{item.label}</a>
			</li>
		))}
	</ul>
</nav>

<style lang="scss">
nav {
  padding-top: 10rem;
  line-height: 1;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.35rem;

    padding: 0;
    margin: 0;
  }

  ul > li {
    &[aria-current="page"] {
	  background: var(--color-primary-container);
	  color: var(--color-on-primary-container);
	  border: 1px solid var(--color-outline-variant);
    }

    &:hover :not([aria-current="page"]) {
	  background: var(--color-tertiary-container);
	  color: var(--color-on-tertiary-container);
	  //border: 1px solid var(--color-outline-variant);
    }

    height: 100%;
	background: var(--color-secondary-container);
	color: var(--color-on-secondary-container);
	border: 1px solid var(--color-outline-variant);
    border-radius: calc(infinity * 1px);
    font-size: 1rem;
    font-weight: 700;
  }

  a {
    &[aria-current="page"] {
      color: var(--color-on-surface);
    }

    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: calc(infinity * 1px);

    color: var(--color-on-surface);
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;

    &:hover {
      color: var(--color-on-surface);
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
      //background-color: var(--color-primary-container);
      //color: var(--color-on-primary-container);
    }

    // Animation when hovering over non-active nav links
    &:after {
      content: "";
      position: absolute;

      transition: transform 300ms ease;
      will-change: transform;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: left center;
    }
  }
}
</style>