---

import BaseCard from '../components/BaseCard.astro';

interface Props {
	title: string;
	backgroundColor?: string;
	foregroundColor?: string;
	outlineColor?: string;
}

const { title,
backgroundColor = 'var(--color-secondary-container)',
foregroundColor = 'var(--color-on-secondary-container)',
outlineColor = 'transparent'  } = Astro.props;
---

<BaseCard backgroundColor=`${backgroundColor}` foregroundColor=`${foregroundColor}` outlineColor=`${outlineColor}`>
	<h2 slot="heading">{title}</h2>
	<slot name="content" slot="content" />
</BaseCard>

<style lang="scss">
h2 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  color: var(--color-primary);
  transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
</style>
